{% extends 'base.html.twig' %}

{%- block title -%}
    {% set titleParts = [] %}
    {% if settings.title is not null %}
        {% set titleParts = titleParts|merge([settings.title]) %}
    {% endif %}
    {% if settings.titleSeparator is not null %}
        {% set titleParts = titleParts|merge([settings.titleSeparator]) %}
    {% endif %}
    {% set titleParts = titleParts|merge([business.name]) %}
    {{- titleParts|join(' ') -}}
{%- endblock -%}

{% block head %}
    {% if business.icon is not null %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ vich_uploader_asset(business,'iconFile')|imagine_filter('apple_touch') }}">
        <link rel="icon" sizes="32x32" href="{{ vich_uploader_asset(business,'iconFile')|imagine_filter('favicon32') }}">
        <link rel="icon" sizes="16x16" href="{{ vich_uploader_asset(business,'iconFile')|imagine_filter('favicon16') }}">
        <link rel="shortcut icon" sizes="48x48" href="{{ vich_uploader_asset(business,'iconFile')|imagine_filter('favicon48') }}">
    {% endif %}
    <meta name="apple-mobile-web-app-title" content="{{ business.name }}">
    <meta name="application-name" content="{{  business.name }}">
{% endblock %}

{% block content %}
    <div class="text-center mt-4">
        {% if business.logo is not null %}
            <img src="{{ vich_uploader_asset(business,'logoFile')|imagine_filter('logo') }}" class="img-fluid text-center" alt="Logo {{ business.name }}">
            {% if settings.showOnlyLogo is same as(false) %}
                <h1 class="text-center font-weight-bold">{{ business.name }}</h1>
            {% endif %}
        {% else %}
            <h1 class="text-center font-weight-bold">{{ business.name }}</h1>
        {% endif %}
    </div>
    {% if business.description is not null %}
        <div class="card mt-5">
            <div class="card-body">{{ business.description|raw }}</div>
        </div>
    {% endif %}

    {% if settings.contactForm is same as(true) %}
        <div class="mt-5">
            {% if formSuccess is same as(true) %}
                <div class="alert alert-success" role="alert">
                    <strong><i class="fas fa-check-circle"></i> Email have been send successfully.</strong>
                    <hr>
                    <span>Thank you, we will get back to you shortly.</span>
                </div>
            {% endif %}
            <div class="table-responsive">
                <table class="table table-bordered bg-white mb-0">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-uppercase">Contact</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete': 'off', 'class': 'mb-0'}}) }}
                            {{ form_widget(form) }}

                            <p class="small text-secondary">
                                By clicking Send, you agree to our <a href="" data-toggle="modal" data-target="#tos">terms</a>.
                                Learn how we collect, use and share your data and how we use cookies and similar technology in our <a href="" data-toggle="modal" data-target="#privacy">privacy policy</a>.
                                You may receive notifications from us and can opt out any time.
                            </p>
                            <button type="submit" class="btn btn-primary px-5" formnovalidate>Send</button>
                            {{ form_end(form) }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <div class="table-responsive mt-5">
        <table class="table table-hover table-bordered bg-white mb-0">
            <thead class="thead-dark">
            <tr>
                <th colspan="2" class="text-uppercase">Company information</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="w-25">Business name</td>
                <td>{{ business.name }}
                    {% if business.registryURL is not null %}
                        <a target="_blank" href="{{ business.registryURL }}"><i class="fas fa-external-link-alt"></i></a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Incorporated at</td>
                <td>{{ business.incorporatedAt|format_date('long') }}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{ business.address.label }}</td>
            </tr>
            <tr>
                <td>Identification number</td>
                <td>{{ business.identificationNumber }}</td>
            </tr>
            <tr>
                <td>VAT</td>
                <td>
                    {% if business.VAT is not null %}
                        {{ business.VAT }}
                        <a target="_blank" href="http://ec.europa.eu/taxation_customs/vies/?locale=en">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    {% else %}-{% endif %}
                </td>
            </tr>
            {% if business.email is not null %}
                <tr>
                    <td>Email</td>
                    <td>
                        {% if settings.emailAsImage is same as(true) %}
                            {{ business.email|create_image_from_text }}
                        {% else %}
                            <a href="mailto:{{ business.email }}">{{ business.email }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if business.phoneNumber.number is not null and business.phoneNumber.country is not null %}
                <tr>
                    <td>Phone number</td>
                    <td>
                        <i class="c-icon c-icon-xl cif-{{ business.phoneNumber.country|lower }}"></i>
                        <a href="tel:{{ business.phoneNumber.number }}">{{ business.phoneNumber.number }}</a>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% set bankAccounts = business.bankAccounts|filter(account => account.active is same as(true) and account.public is same as(true)) %}
    {% if bankAccounts is not empty %}
        <p class="mt-5"><span class="badge badge-success">Ad</span> Looking for cheaper account? Try <a href="https://transferwise.com/gb/borderless/" target="_blank">TransferWise Borderless</a> or <a href="https://n26.com/r/andrejl9257" target="_blank">N26</a>.</p>
        <div class="table-responsive">
            <table class="table table-hover table-bordered bg-white mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="5" class="text-uppercase">Bank accounts</th>
                    </tr>
                </thead>
                {% for account in bankAccounts %}
                    <thead class="bg-light text-uppercase">
                        <tr>
                            <th colspan="2">Account #{{ loop.index }}</th>
                        </tr>
                    </thead>
                    {% if account.provider is not null %}
                        <tr>
                            <td class="w-25">Provider</td>
                            <td>{{ account.provider.name }}
                                {% if account.provider.URL is not null %}
                                    <a target="_blank" href="{{ account.provider.URL }}"><i class="fas fa-external-link-alt"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="w-25">IBAN / Account number</td>
                        <td>{{ account.IBAN }}</td>
                    </tr>
                    <tr>
                        <td>BIC</td>
                        <td>
                            <a target="_blank" href="https://bank-code.net/swift-code/{{ strpad(account.bic, 11, 'X') }}.html">{{ account.bic }}</a>
                        </td>
                    </tr>
                    {% if account.currencies is not empty %}
                        <tr>
                            <td>Currency</td>
                            <td>{{ account.currencies|join(', ') }}</td>
                        </tr>
                    {% endif %}
                    {% if account.note is not null %}
                        <tr>
                            <td>Note</td>
                            <td><u>{{ account.note }}</u></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% set cryptoCurrencyAccounts = business.cryptoCurrencyAccounts|filter(account => account.active is same as(true) and account.public is same as(true)) %}
    {% if cryptoCurrencyAccounts is not empty %}
        <p class="mt-5"><span class="badge badge-success">Ad</span> Are you using crypto-currencies in your business? Keep it safe - <a href="https://trezor.io/" target="_blank">use Trezor</a>.</p>
        <div class="table-responsive">
            <table class="table table-hover table-bordered bg-white mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="5" class="text-uppercase">Crypto-currency accounts</th>
                    </tr>
                </thead>
                {% for account in cryptoCurrencyAccounts %}
                    <thead class="bg-light text-uppercase">
                        <tr>
                            <th colspan="2">Account #{{ loop.index }}</th>
                        </tr>
                    </thead>
                    {% if account.provider is not null %}
                        <tr>
                            <td class="w-25">Provider</td>
                            <td>{{ account.provider.name }}
                                {% if account.provider.URL is not null %}
                                    <a target="_blank" href="{{ account.provider.URL }}"><i class="fas fa-external-link-alt"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="w-25">Address</td>
                        <td>{{ account.address }}</td>
                    </tr>
                    <tr>
                        <td>Currency</td>
                        <td>{{ account.currency }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% set serviceAccounts = business.serviceAccounts|filter(account => account.active is same as(true) and account.public is same as(true)) %}
    {% if serviceAccounts is not empty %}
        <div class="table-responsive mt-5">
            <table class="table table-hover table-bordered bg-white mb-0">
                <thead class="thead-dark">
                <tr>
                    <th colspan="5" class="text-uppercase">Service accounts</th>
                </tr>
                </thead>
                {% for account in serviceAccounts %}
                    <thead class="bg-light text-uppercase">
                    <tr>
                        <th colspan="2">Account #{{ loop.index }}</th>
                    </tr>
                    </thead>
                    <tr>
                        <td class="w-25">Provider</td>
                        <td>{{ account.provider.name }}
                            {% if account.provider.URL is not null %}
                                <a target="_blank" href="{{ account.provider.URL }}"><i class="fas fa-external-link-alt"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25">Identifier</td>
                        <td>{{ account.identifier }}</td>
                    </tr>
                    {% if account.currencies is not empty %}
                        <tr>
                            <td>Currency</td>
                            <td>{{ account.currencies|join(', ') }}</td>
                        </tr>
                    {% endif %}
                    {% if account.note is not null %}
                        <tr>
                            <td>Note</td>
                            <td><u>{{ account.note }}</u></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}